<h1>all lists</h1>



<ul>
  <% @list.each do |list| %>
    <li>
        <%= cl_image_tag list.photo.key, height: 128, width: 128, crop: :fill %>
        <%= link_to list.name, list_path(list) %>
        <%= link_to 'delete', list_path(list),
                            method: :delete,
                            data: { confirm: "Are you sure?" } %>


    </li>
  <% end  %>
</ul>

<%= link_to 'new list', new_list_path %>
